Snapshot ID;Snapshot Time;Linked context ID
{id};{formatedtime};23

Attributes;Write Value;Read Value;DELTA
I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom6_Z;{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom6_Z_write_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom6_Z_read_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom6_Z_delta}
I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom7_X;{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom7_X_write_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom7_X_read_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom7_X_delta}
I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom9_Z;{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom9_Z_write_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom9_Z_read_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom9_Z_delta}
I11-MA-CX1/EX/TC.2/temperature;{I11-MA-CX1/EX/TC_2/temperature_write_value};{I11-MA-CX1/EX/TC_2/temperature_read_value};{I11-MA-CX1/EX/TC_2/temperature_delta}
PASSERELLE/EH/MD2/Aperture_20um_Z;{PASSERELLE/EH/MD2/Aperture_20um_Z_write_value};{PASSERELLE/EH/MD2/Aperture_20um_Z_read_value};{PASSERELLE/EH/MD2/Aperture_20um_Z_delta}
PASSERELLE/EH/MD2/Aperture_50um_Z;{PASSERELLE/EH/MD2/Aperture_50um_Z_write_value};{PASSERELLE/EH/MD2/Aperture_50um_Z_read_value};{PASSERELLE/EH/MD2/Aperture_50um_Z_delta}
I11-MA-C04/DT/XBPM_DIODE.1/quadrant1;{I11-MA-C04/DT/XBPM_DIODE_1/quadrant1_write_value};{I11-MA-C04/DT/XBPM_DIODE_1/quadrant1_read_value};{I11-MA-C04/DT/XBPM_DIODE_1/quadrant1_delta}
I11-MA-C05/DT/XBPM_DIODE.3/quadrant2;{I11-MA-C05/DT/XBPM_DIODE_3/quadrant2_write_value};{I11-MA-C05/DT/XBPM_DIODE_3/quadrant2_read_value};{I11-MA-C05/DT/XBPM_DIODE_3/quadrant2_delta}
I11-MA-C06/DT/XBPM_DIODE.5/quadrant2;{I11-MA-C06/DT/XBPM_DIODE_5/quadrant2_write_value};{I11-MA-C06/DT/XBPM_DIODE_5/quadrant2_read_value};{I11-MA-C06/DT/XBPM_DIODE_5/quadrant2_delta}
I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom8_X;{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom8_X_write_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom8_X_read_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom8_X_delta}
I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom8_Z;{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom8_Z_write_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom8_Z_read_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom8_Z_delta}
I11-MA-C04/DT/XBPM_DIODE.1/quadrant2;{I11-MA-C04/DT/XBPM_DIODE_1/quadrant2_write_value};{I11-MA-C04/DT/XBPM_DIODE_1/quadrant2_read_value};{I11-MA-C04/DT/XBPM_DIODE_1/quadrant2_delta}
I11-MA-C06/DT/XBPM_DIODE.5/quadrant1;{I11-MA-C06/DT/XBPM_DIODE_5/quadrant1_write_value};{I11-MA-C06/DT/XBPM_DIODE_5/quadrant1_read_value};{I11-MA-C06/DT/XBPM_DIODE_5/quadrant1_delta}
I11-MA-C06/DT/XBPM_DIODE.5/quadrant3;{I11-MA-C06/DT/XBPM_DIODE_5/quadrant3_write_value};{I11-MA-C06/DT/XBPM_DIODE_5/quadrant3_read_value};{I11-MA-C06/DT/XBPM_DIODE_5/quadrant3_delta}
TDL-I11-MA/DG/XBPM.2/zPos;{TDL-I11-MA/DG/XBPM_2/zPos_write_value};{TDL-I11-MA/DG/XBPM_2/zPos_read_value};{TDL-I11-MA/DG/XBPM_2/zPos_delta}
PASSERELLE/EH/MD2/Aperture_10um_X;{PASSERELLE/EH/MD2/Aperture_10um_X_write_value};{PASSERELLE/EH/MD2/Aperture_10um_X_read_value};{PASSERELLE/EH/MD2/Aperture_10um_X_delta}
PASSERELLE/EH/MD2/Aperture_10um_Z;{PASSERELLE/EH/MD2/Aperture_10um_Z_write_value};{PASSERELLE/EH/MD2/Aperture_10um_Z_read_value};{PASSERELLE/EH/MD2/Aperture_10um_Z_delta}
I11-MA-C04/EX/TC.1/temperature;{I11-MA-C04/EX/TC_1/temperature_write_value};{I11-MA-C04/EX/TC_1/temperature_read_value};{I11-MA-C04/EX/TC_1/temperature_delta}
I11-MA-C05/EX/TC.1/temperature;{I11-MA-C05/EX/TC_1/temperature_write_value};{I11-MA-C05/EX/TC_1/temperature_read_value};{I11-MA-C05/EX/TC_1/temperature_delta}
I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom1_Z;{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom1_Z_write_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom1_Z_read_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom1_Z_delta}
I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom3_X;{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom3_X_write_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom3_X_read_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom3_X_delta}
I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom5_Z;{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom5_Z_write_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom5_Z_read_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom5_Z_delta}
I11-MA-CX1/EX/TC.1/temperature;{I11-MA-CX1/EX/TC_1/temperature_write_value};{I11-MA-CX1/EX/TC_1/temperature_read_value};{I11-MA-CX1/EX/TC_1/temperature_delta}
I11-MA-C04/DT/XBPM_DIODE.1/intensity;{I11-MA-C04/DT/XBPM_DIODE_1/intensity_write_value};{I11-MA-C04/DT/XBPM_DIODE_1/intensity_read_value};{I11-MA-C04/DT/XBPM_DIODE_1/intensity_delta}
I11-MA-C05/DT/XBPM_DIODE.3/quadrant3;{I11-MA-C05/DT/XBPM_DIODE_3/quadrant3_write_value};{I11-MA-C05/DT/XBPM_DIODE_3/quadrant3_read_value};{I11-MA-C05/DT/XBPM_DIODE_3/quadrant3_delta}
I11-MA-C00/EX/TC.1/temperature;{I11-MA-C00/EX/TC_1/temperature_write_value};{I11-MA-C00/EX/TC_1/temperature_read_value};{I11-MA-C00/EX/TC_1/temperature_delta}
I11-MA-C06/EX/TC.1/temperature;{I11-MA-C06/EX/TC_1/temperature_write_value};{I11-MA-C06/EX/TC_1/temperature_read_value};{I11-MA-C06/EX/TC_1/temperature_delta}
I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom10_X;{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom10_X_write_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom10_X_read_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom10_X_delta}
I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom10_Z;{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom10_Z_write_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom10_Z_read_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom10_Z_delta}
PASSERELLE/EH/MD2/Aperture_100um_X;{PASSERELLE/EH/MD2/Aperture_100um_X_write_value};{PASSERELLE/EH/MD2/Aperture_100um_X_read_value};{PASSERELLE/EH/MD2/Aperture_100um_X_delta}
I11-MA-C04/DT/XBPM_DIODE.1/quadrant3;{I11-MA-C04/DT/XBPM_DIODE_1/quadrant3_write_value};{I11-MA-C04/DT/XBPM_DIODE_1/quadrant3_read_value};{I11-MA-C04/DT/XBPM_DIODE_1/quadrant3_delta}
I11-MA-C04/DT/XBPM_DIODE.1/quadrant4;{I11-MA-C04/DT/XBPM_DIODE_1/quadrant4_write_value};{I11-MA-C04/DT/XBPM_DIODE_1/quadrant4_read_value};{I11-MA-C04/DT/XBPM_DIODE_1/quadrant4_delta}
I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom1_X;{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom1_X_write_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom1_X_read_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom1_X_delta}
PASSERELLE/EH/MD2/Aperture_50um_X;{PASSERELLE/EH/MD2/Aperture_50um_X_write_value};{PASSERELLE/EH/MD2/Aperture_50um_X_read_value};{PASSERELLE/EH/MD2/Aperture_50um_X_delta}
I11-MA-C04/DT/XBPM_DIODE.1/horizontalPosition;{I11-MA-C04/DT/XBPM_DIODE_1/horizontalPosition_write_value};{I11-MA-C04/DT/XBPM_DIODE_1/horizontalPosition_read_value};{I11-MA-C04/DT/XBPM_DIODE_1/horizontalPosition_delta}
I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom4_X;{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom4_X_write_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom4_X_read_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom4_X_delta}
I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom7_Z;{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom7_Z_write_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom7_Z_read_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom7_Z_delta}
I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom9_X;{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom9_X_write_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom9_X_read_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom9_X_delta}
PASSERELLE/EH/MD2/Aperture_20um_X;{PASSERELLE/EH/MD2/Aperture_20um_X_write_value};{PASSERELLE/EH/MD2/Aperture_20um_X_read_value};{PASSERELLE/EH/MD2/Aperture_20um_X_delta}
I11-MA-C06/DT/XBPM_DIODE.5/intensity;{I11-MA-C06/DT/XBPM_DIODE_5/intensity_write_value};{I11-MA-C06/DT/XBPM_DIODE_5/intensity_read_value};{I11-MA-C06/DT/XBPM_DIODE_5/intensity_delta}
TDL-I11-MA/DG/XBPM.1/xPos;{TDL-I11-MA/DG/XBPM_1/xPos_write_value};{TDL-I11-MA/DG/XBPM_1/xPos_read_value};{TDL-I11-MA/DG/XBPM_1/xPos_delta}
I11-MA-C06/DT/XBPM_DIODE.5/horizontalPosition;{I11-MA-C06/DT/XBPM_DIODE_5/horizontalPosition_write_value};{I11-MA-C06/DT/XBPM_DIODE_5/horizontalPosition_read_value};{I11-MA-C06/DT/XBPM_DIODE_5/horizontalPosition_delta}
I11-MA-C06/DT/XBPM_DIODE.5/verticalPosition;{I11-MA-C06/DT/XBPM_DIODE_5/verticalPosition_write_value};{I11-MA-C06/DT/XBPM_DIODE_5/verticalPosition_read_value};{I11-MA-C06/DT/XBPM_DIODE_5/verticalPosition_delta}
PASSERELLE/EH/MD2/Aperture_100um_Z;{PASSERELLE/EH/MD2/Aperture_100um_Z_write_value};{PASSERELLE/EH/MD2/Aperture_100um_Z_read_value};{PASSERELLE/EH/MD2/Aperture_100um_Z_delta}
TDL-I11-MA/DG/XBPM.1/zPos;{TDL-I11-MA/DG/XBPM_1/zPos_write_value};{TDL-I11-MA/DG/XBPM_1/zPos_read_value};{TDL-I11-MA/DG/XBPM_1/zPos_delta}
I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom2_X;{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom2_X_write_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom2_X_read_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom2_X_delta}
I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom2_Z;{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom2_Z_write_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom2_Z_read_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom2_Z_delta}
I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom3_Z;{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom3_Z_write_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom3_Z_read_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom3_Z_delta}
I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom4_Z;{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom4_Z_write_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom4_Z_read_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom4_Z_delta}
I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom5_X;{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom5_X_write_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom5_X_read_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom5_X_delta}
I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom6_X;{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom6_X_write_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom6_X_read_value};{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom6_X_delta}
I11-MA-C05/DT/XBPM_DIODE.3/intensity;{I11-MA-C05/DT/XBPM_DIODE_3/intensity_write_value};{I11-MA-C05/DT/XBPM_DIODE_3/intensity_read_value};{I11-MA-C05/DT/XBPM_DIODE_3/intensity_delta}
I11-MA-C05/DT/XBPM_DIODE.3/quadrant1;{I11-MA-C05/DT/XBPM_DIODE_3/quadrant1_write_value};{I11-MA-C05/DT/XBPM_DIODE_3/quadrant1_read_value};{I11-MA-C05/DT/XBPM_DIODE_3/quadrant1_delta}
I11-MA-C05/DT/XBPM_DIODE.3/quadrant4;{I11-MA-C05/DT/XBPM_DIODE_3/quadrant4_write_value};{I11-MA-C05/DT/XBPM_DIODE_3/quadrant4_read_value};{I11-MA-C05/DT/XBPM_DIODE_3/quadrant4_delta}
I11-MA-C06/DT/XBPM_DIODE.5/quadrant4;{I11-MA-C06/DT/XBPM_DIODE_5/quadrant4_write_value};{I11-MA-C06/DT/XBPM_DIODE_5/quadrant4_read_value};{I11-MA-C06/DT/XBPM_DIODE_5/quadrant4_delta}
TDL-I11-MA/DG/XBPM.2/xPos;{TDL-I11-MA/DG/XBPM_2/xPos_write_value};{TDL-I11-MA/DG/XBPM_2/xPos_read_value};{TDL-I11-MA/DG/XBPM_2/xPos_delta}
I11-MA-C04/DT/XBPM_DIODE.1/verticalPosition;{I11-MA-C04/DT/XBPM_DIODE_1/verticalPosition_write_value};{I11-MA-C04/DT/XBPM_DIODE_1/verticalPosition_read_value};{I11-MA-C04/DT/XBPM_DIODE_1/verticalPosition_delta}
I11-MA-C05/DT/XBPM_DIODE.3/horizontalPosition;{I11-MA-C05/DT/XBPM_DIODE_3/horizontalPosition_write_value};{I11-MA-C05/DT/XBPM_DIODE_3/horizontalPosition_read_value};{I11-MA-C05/DT/XBPM_DIODE_3/horizontalPosition_delta}
I11-MA-C05/DT/XBPM_DIODE.3/verticalPosition;{I11-MA-C05/DT/XBPM_DIODE_3/verticalPosition_write_value};{I11-MA-C05/DT/XBPM_DIODE_3/verticalPosition_read_value};{I11-MA-C05/DT/XBPM_DIODE_3/verticalPosition_delta}
