<?xml version="1.0" encoding="ISO-8859-1"?>
<Snapshot isModified="false" Time="{timestamp}" path="{path}" Id="992">
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom6_Z" Id="248">
<ReadValue notApplicable="true">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom6_Z_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom6_Z_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom7_X" Id="249">
<ReadValue notApplicable="true">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom7_X_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom7_X_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom9_Z" Id="254">
<ReadValue notApplicable="true">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom9_Z_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom9_Z_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/TC.2/temperature" Id="281">
<ReadValue notApplicable="false">
{I11-MA-CX1/EX/TC_2/temperature_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-CX1/EX/TC_2/temperature_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="PASSERELLE/EH/MD2/Aperture_20um_Z" Id="285">
<ReadValue notApplicable="true">
{PASSERELLE/EH/MD2/Aperture_20um_Z_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{PASSERELLE/EH/MD2/Aperture_20um_Z_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="PASSERELLE/EH/MD2/Aperture_50um_Z" Id="287">
<ReadValue notApplicable="true">
{PASSERELLE/EH/MD2/Aperture_50um_Z_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{PASSERELLE/EH/MD2/Aperture_50um_Z_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C04/DT/XBPM_DIODE.1/quadrant1" Id="266">
<ReadValue notApplicable="false">
{I11-MA-C04/DT/XBPM_DIODE_1/quadrant1_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C04/DT/XBPM_DIODE_1/quadrant1_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C05/DT/XBPM_DIODE.3/quadrant2" Id="347">
<ReadValue notApplicable="false">
{I11-MA-C05/DT/XBPM_DIODE_3/quadrant2_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C05/DT/XBPM_DIODE_3/quadrant2_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C06/DT/XBPM_DIODE.5/quadrant2" Id="352">
<ReadValue notApplicable="false">
{I11-MA-C06/DT/XBPM_DIODE_5/quadrant2_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C06/DT/XBPM_DIODE_5/quadrant2_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom8_X" Id="251">
<ReadValue notApplicable="true">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom8_X_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom8_X_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom8_Z" Id="252">
<ReadValue notApplicable="true">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom8_Z_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom8_Z_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C04/DT/XBPM_DIODE.1/quadrant2" Id="268">
<ReadValue notApplicable="false">
{I11-MA-C04/DT/XBPM_DIODE_1/quadrant2_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C04/DT/XBPM_DIODE_1/quadrant2_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C06/DT/XBPM_DIODE.5/quadrant1" Id="351">
<ReadValue notApplicable="false">
{I11-MA-C06/DT/XBPM_DIODE_5/quadrant1_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C06/DT/XBPM_DIODE_5/quadrant1_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C06/DT/XBPM_DIODE.5/quadrant3" Id="353">
<ReadValue notApplicable="false">
{I11-MA-C06/DT/XBPM_DIODE_5/quadrant3_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C06/DT/XBPM_DIODE_5/quadrant3_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="TDL-I11-MA/DG/XBPM.2/zPos" Id="64">
<ReadValue notApplicable="false">
{TDL-I11-MA/DG/XBPM_2/zPos_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{TDL-I11-MA/DG/XBPM_2/zPos_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="PASSERELLE/EH/MD2/Aperture_10um_X" Id="343">
<ReadValue notApplicable="true">
{PASSERELLE/EH/MD2/Aperture_10um_X_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{PASSERELLE/EH/MD2/Aperture_10um_X_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="PASSERELLE/EH/MD2/Aperture_10um_Z" Id="344">
<ReadValue notApplicable="true">
{PASSERELLE/EH/MD2/Aperture_10um_Z_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{PASSERELLE/EH/MD2/Aperture_10um_Z_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C04/EX/TC.1/temperature" Id="277">
<ReadValue notApplicable="false">
{I11-MA-C04/EX/TC_1/temperature_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C04/EX/TC_1/temperature_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C05/EX/TC.1/temperature" Id="278">
<ReadValue notApplicable="false">
{I11-MA-C05/EX/TC_1/temperature_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C05/EX/TC_1/temperature_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom1_Z" Id="236">
<ReadValue notApplicable="true">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom1_Z_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom1_Z_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom3_X" Id="241">
<ReadValue notApplicable="true">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom3_X_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom3_X_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom5_Z" Id="246">
<ReadValue notApplicable="true">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom5_Z_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom5_Z_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/TC.1/temperature" Id="280">
<ReadValue notApplicable="false">
{I11-MA-CX1/EX/TC_1/temperature_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-CX1/EX/TC_1/temperature_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C04/DT/XBPM_DIODE.1/intensity" Id="265">
<ReadValue notApplicable="false">
{I11-MA-C04/DT/XBPM_DIODE_1/intensity_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C04/DT/XBPM_DIODE_1/intensity_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C05/DT/XBPM_DIODE.3/quadrant3" Id="348">
<ReadValue notApplicable="false">
{I11-MA-C05/DT/XBPM_DIODE_3/quadrant3_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C05/DT/XBPM_DIODE_3/quadrant3_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C00/EX/TC.1/temperature" Id="332">
<ReadValue notApplicable="false">
{I11-MA-C00/EX/TC_1/temperature_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C00/EX/TC_1/temperature_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C06/EX/TC.1/temperature" Id="279">
<ReadValue notApplicable="false">
{I11-MA-C06/EX/TC_1/temperature_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C06/EX/TC_1/temperature_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom10_X" Id="237">
<ReadValue notApplicable="true">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom10_X_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom10_X_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom10_Z" Id="238">
<ReadValue notApplicable="true">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom10_Z_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom10_Z_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="PASSERELLE/EH/MD2/Aperture_100um_X" Id="282">
<ReadValue notApplicable="true">
{PASSERELLE/EH/MD2/Aperture_100um_X_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{PASSERELLE/EH/MD2/Aperture_100um_X_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C04/DT/XBPM_DIODE.1/quadrant3" Id="270">
<ReadValue notApplicable="false">
{I11-MA-C04/DT/XBPM_DIODE_1/quadrant3_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C04/DT/XBPM_DIODE_1/quadrant3_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C04/DT/XBPM_DIODE.1/quadrant4" Id="272">
<ReadValue notApplicable="false">
{I11-MA-C04/DT/XBPM_DIODE_1/quadrant4_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C04/DT/XBPM_DIODE_1/quadrant4_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom1_X" Id="235">
<ReadValue notApplicable="true">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom1_X_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom1_X_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="PASSERELLE/EH/MD2/Aperture_50um_X" Id="286">
<ReadValue notApplicable="true">
{PASSERELLE/EH/MD2/Aperture_50um_X_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{PASSERELLE/EH/MD2/Aperture_50um_X_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C04/DT/XBPM_DIODE.1/horizontalPosition" Id="264">
<ReadValue notApplicable="false">
{I11-MA-C04/DT/XBPM_DIODE_1/horizontalPosition_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C04/DT/XBPM_DIODE_1/horizontalPosition_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom4_X" Id="243">
<ReadValue notApplicable="true">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom4_X_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom4_X_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom7_Z" Id="250">
<ReadValue notApplicable="true">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom7_Z_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom7_Z_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom9_X" Id="253">
<ReadValue notApplicable="true">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom9_X_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom9_X_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="PASSERELLE/EH/MD2/Aperture_20um_X" Id="284">
<ReadValue notApplicable="true">
{PASSERELLE/EH/MD2/Aperture_20um_X_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{PASSERELLE/EH/MD2/Aperture_20um_X_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C06/DT/XBPM_DIODE.5/intensity" Id="350">
<ReadValue notApplicable="false">
{I11-MA-C06/DT/XBPM_DIODE_5/intensity_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C06/DT/XBPM_DIODE_5/intensity_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="TDL-I11-MA/DG/XBPM.1/xPos" Id="61">
<ReadValue notApplicable="false">
{TDL-I11-MA/DG/XBPM_1/xPos_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{TDL-I11-MA/DG/XBPM_1/xPos_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C06/DT/XBPM_DIODE.5/horizontalPosition" Id="357">
<ReadValue notApplicable="false">
{I11-MA-C06/DT/XBPM_DIODE_5/horizontalPosition_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C06/DT/XBPM_DIODE_5/horizontalPosition_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C06/DT/XBPM_DIODE.5/verticalPosition" Id="358">
<ReadValue notApplicable="false">
{I11-MA-C06/DT/XBPM_DIODE_5/verticalPosition_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C06/DT/XBPM_DIODE_5/verticalPosition_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="PASSERELLE/EH/MD2/Aperture_100um_Z" Id="283">
<ReadValue notApplicable="true">
{PASSERELLE/EH/MD2/Aperture_100um_Z_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{PASSERELLE/EH/MD2/Aperture_100um_Z_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="TDL-I11-MA/DG/XBPM.1/zPos" Id="62">
<ReadValue notApplicable="false">
{TDL-I11-MA/DG/XBPM_1/zPos_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{TDL-I11-MA/DG/XBPM_1/zPos_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom2_X" Id="239">
<ReadValue notApplicable="true">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom2_X_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom2_X_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom2_Z" Id="240">
<ReadValue notApplicable="true">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom2_Z_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom2_Z_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom3_Z" Id="242">
<ReadValue notApplicable="true">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom3_Z_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom3_Z_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom4_Z" Id="244">
<ReadValue notApplicable="true">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom4_Z_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom4_Z_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom5_X" Id="245">
<ReadValue notApplicable="true">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom5_X_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom5_X_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="2" DataFormat="0" DataType="5" CompleteName="I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom6_X" Id="247">
<ReadValue notApplicable="true">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom6_X_read_value}
</ReadValue>
<WriteValue notApplicable="false">
{I11-MA-CX1/EX/MD2-BEAMPOSITION/Zoom6_X_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C05/DT/XBPM_DIODE.3/intensity" Id="345">
<ReadValue notApplicable="false">
{I11-MA-C05/DT/XBPM_DIODE_3/intensity_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C05/DT/XBPM_DIODE_3/intensity_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C05/DT/XBPM_DIODE.3/quadrant1" Id="346">
<ReadValue notApplicable="false">
{I11-MA-C05/DT/XBPM_DIODE_3/quadrant1_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C05/DT/XBPM_DIODE_3/quadrant1_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C05/DT/XBPM_DIODE.3/quadrant4" Id="349">
<ReadValue notApplicable="false">
{I11-MA-C05/DT/XBPM_DIODE_3/quadrant4_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C05/DT/XBPM_DIODE_3/quadrant4_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C06/DT/XBPM_DIODE.5/quadrant4" Id="354">
<ReadValue notApplicable="false">
{I11-MA-C06/DT/XBPM_DIODE_5/quadrant4_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C06/DT/XBPM_DIODE_5/quadrant4_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="TDL-I11-MA/DG/XBPM.2/xPos" Id="63">
<ReadValue notApplicable="false">
{TDL-I11-MA/DG/XBPM_2/xPos_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{TDL-I11-MA/DG/XBPM_2/xPos_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C04/DT/XBPM_DIODE.1/verticalPosition" Id="274">
<ReadValue notApplicable="false">
{I11-MA-C04/DT/XBPM_DIODE_1/verticalPosition_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C04/DT/XBPM_DIODE_1/verticalPosition_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C05/DT/XBPM_DIODE.3/horizontalPosition" Id="355">
<ReadValue notApplicable="false">
{I11-MA-C05/DT/XBPM_DIODE_3/horizontalPosition_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C05/DT/XBPM_DIODE_3/horizontalPosition_write_value}
</WriteValue>
</Attribute>
<Attribute Writable="0" DataFormat="0" DataType="5" CompleteName="I11-MA-C05/DT/XBPM_DIODE.3/verticalPosition" Id="356">
<ReadValue notApplicable="false">
{I11-MA-C05/DT/XBPM_DIODE_3/verticalPosition_read_value}
</ReadValue>
<WriteValue notApplicable="true">
{I11-MA-C05/DT/XBPM_DIODE_3/verticalPosition_write_value}
</WriteValue>
</Attribute></Snapshot>
